@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body
{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#71b5fa,#e7e1e9);
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    height: 11%;
    width: 100%;
    padding: 5px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
    background: linear-gradient(#111,transparent);
}
header .black{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
header .logo img
{
    margin-top: 15px;
    height: 75px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    border-radius: 8px;
    font-size: 96%;
    transition: 0.5s;
    text-transform: uppercase;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #500808;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top,#e7e1e9,transparent);
    z-index: 1000;

}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon
{
    
    overflow: hidden;
    height: 100%;
    margin-top: 50px;
    z-index: 7;
    
}
section img#mountains_front
{
    z-index: 9;
}
section img#mountains_behind
{
    z-index: 9;
}

#text{
    position: absolute;
    color: #fff;
    right: -2250px;
    white-space:nowrap ;
    font-size: 7.5vw;
    z-index: 9;
    
}
#btn
{
    text-decoration: none;
    margin-bottom: 250px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 8;
    transform: translateY(100px);
}
.genel{
    position: relative;
    padding: 100px;
    background-image: url(bg.jpg);
}


.duyuru
{
    margin-top: 80px;
}
.duyuru ul li h2{
    margin-top: 30px;
}
.duyuru ul li h2 a{
    background:#fff;
    padding: 20px 50px;
    border-style: solid;
    font-weight: 500;
    border-width: 1px;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    font-size: 14px;

}
.duyuru2{
    margin-top: -75px;
}
.duyuru2 ul li h2{
    margin-top: 30px;
}
.duyuru2 ul li h2 a{
    background:#fff;
    padding: 20px 50px;
    border-style: solid;
    font-weight: 500;
    border-width: 1px;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    font-size: 14px;
}
.duyuru2 ul li h3 {
    margin-top: 80px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.duyuru2 ul li h3 a{
    padding: 10px 10px;
    background: #500808;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.duyuru2 ul li h3 a:hover{
    color: #fff;
    background: rgb(27, 26, 26);
}

.haber
{
    font-size: 3.5em;
    margin-top: -30px;
    padding: 0px 100px;
    color:#111;
    align-items: center;
    justify-content: center;
}
.haber::after{
    content:"";
    width: 220px;
    height: 5px;
    background-color: goldenrod;
    margin: 0 ;
    display: block;
    margin-top: -10px;

}
.container
{
    position: relative;
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;    
    margin-left: -100px;
}
.container .card
{
    position: relative;
    width: 300px;
    border-radius: 10px;
    height: 210px;
    background: #fff;
    padding: 20px 0px;
    margin: 90px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.container .card:hover
{
    padding: 70px 0px;
    width: 420px;
    height: 420px;
}
.container .card .imgbx
{
    position: relative;
    width: 260px;
    height: 150px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgbx{
    left: 80px;
}
.container .card .imgbx img
{
    max-width: 100%;
    border-radius: 10px;
}
.container .card .content
{
    position: relative;
    margin-top: -45px;
    padding: 10px 10px;
    text-align: center;
    color: #111;
    opacity: 1;
    height: auto;
    transition: 0.3s ease-in-out;
}
.container .card .content p{
    font-size: 80%;
    visibility: hidden;
    opacity: 0;
}
.container .card:hover .content p
{
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: 0.5s;
}
.container .card .content h2
{
    font-size: 100%;
}
.container2
{
    position: relative;
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: -100px;
}
.container2 .card
{
    position: relative;
    width: 300px;
    border-radius: 10px;
    height: 210px;
    background: #fff;
    padding: 20px 0px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.container2 .card:hover
{
    padding: 70px 0px;
    height: 420px;
    width: 420px;
}
.container2 .card .imgbx
{
    position: relative;
    width: 260px;
    height: 150px;
    top: -60px;
    left: 20px;
    justify-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}
.container2 .card:hover .imgbx{
    left: 80px;
}
.container2 .card .imgbx img
{
    max-width: 100%;
    border-radius: 10px;
}
.container2 .card .content
{
    position: relative;
    margin-top: -45px;
    padding: 10px 10px;
    text-align: center;
    color: #111;
    opacity: 1;
    height: auto;
    transition: 0.3s ease-in-out;
}
.container2 .card .content p{
    font-size: 80%;
    visibility: hidden;
    opacity: 0;
}
.container2 .card:hover .content p
{
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: 0.5s;
}
.container2 .card .content h2
{
    font-size: 100%;
}
.genels{
    position: relative;
    padding: 10px;
    background: rgb(29, 28, 28);
}
.genels h2{
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.genels h2 a
{
    padding: 10px 10px;
    background: #500808;
    color: #fff;
    text-decoration: none;
}
.genels h2 a:hover
{
    color: #500808;
    background: #fff;
    transition: 0.7s;
}
.coloun
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;    
}
.coloun .kart
{
    position: relative;
    width: 200px;
    border-radius: 10px;
    height: 250px;
    background: #fff;
    padding: 60px 0px;
    margin: 90px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.kart:hover{
    transform: translateY(20px);
}


.coloun .kart .img
{
    position: relative;
    width: 222px;
    height: 140px;
    top: -60px;
    left: 0.25px;
    justify-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
    
}
.coloun .kart .img h2{
    color: #fff;
    margin-top: -100px;
}
.coloun .kart .img img
{
    max-width: 90%;
    border-radius: 10px;
}
.yazı h2{
    z-index: 100;
}

.loader
{
    border-radius: 100px;
    position:relative;
    width: 205px;
    height: 205px;
    
    margin-left: 500px;
    background: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.loader img
{
    margin-left: 325px;
}
.loader:hover
{
    border-radius: 100px;
    background: #6e0927;
    box-shadow: 0 0 5px #03e9f4,
    0 0 50px #fff,
    0 0 10px #fff,
    0 0 300px #fff,
    0 0 400px #f4034b;
} 
.loader h2
{
    color: #fff;
    background: fixed;
    margin-left: 70px;
    font-size: 240%;
    font-style: initial;
}
.loader h2::after{
    content:"";
    width: 220px;
    height: 3px;
    background-color: goldenrod;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}
@keyframes typing
{
    0%
    {
      
        width: 0px;
    
    }
    30%
    {
       
        width: 98.3px;
    }
}


footer{
    background-color:black;
    height: 670px;
    overflow: hidden;
    padding: 70px 0;
}
footer h2{
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
.con{
    max-width: 1170px;
    margin: auto;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    margin-top: 70px;
    text-transform: capitalize;
    font-weight: 500;
    background: fixed;
    position: relative;
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer ul
{
    list-style: none;
    margin-top: 40px;
}
footer ul li{
    list-style: none;
    
}
footer ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
    color: rgb(194, 188, 188);
    border-radius: 20px;
}


/*telefon modu */


@media only screen and (max-width:768px){
    header .logo{
        margin-left: 0px;
        font-size: 250%;
        display: none;
    }
    header ul{
        display: none;
    }
    section img#moon{
        margin-top: 50px;
        width: 100%;
        height: 80%;
    }    
    section img#stars
    {
        margin-top: 60px;
        height: 70%;
    }
    section img#mountains_behind{
        height: 50%;
        margin-top: 270px;
    }
    #text{
        font-size: 60px;
    }
    .sec
    {
        position: relative;
        padding: 10px;
        background: #1c0522 ;
    }
    .sec h2
    {
        font-size: 2em;
        margin-top: 50px;
        color: #fff;
        margin-left: 0;
    }
    .sec h2::after
    {
        content: "";
        width: 350px;
        height: 4px;
        background-color: #fff;
        margin: 0 ;
        display: block;
    }
    .sec h3{
        font-size: 2.4em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 50px;
        text-align: center;
        color:goldenrod;
        justify-content: center;
    }
    .sec h3::after{
        content:"";
        width: 120px;
        height: 3px;
        background-color: goldenrod;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    
    }
    .Kapadokya{
        margin-top: 50px;
        display: block;
    }
    .sec img#kapadokya{
        width: 90%;
        height: 100%;
        margin-left: 25px;
        object-fit: cover;
        border-radius: 40px;
    }
    .sec p{
        font-size: 1em;
        width: 80%;
        margin-top: 30px;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .tarihce{
        margin-top: 100px;
        display: block;
        margin-top: 0px;
    }
    .tarihce img{
        margin-top: 50px;
        margin-left: 30px;
        width: 90%;
        height: auto;
        object-fit: cover;
        border-radius: 40px;
    }
    footer ul
    {
        margin-top: -60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}